<app-form (coursesSubmitted)="onCoursesSubmitted($event)"></app-form>
<ion-card *ngIf="results">
  <ion-card-header>
    <ion-card-title>Результати розрахунків</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Курс</ion-label>
        <ion-label>Загальна кількість студентів</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let result of results">
        <ion-label>{{result.year}}</ion-label>
        <ion-label>{{result.totalStudents}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>